.places {
    margin: 0;
    padding: 92px 48px;
}

@media (max-width: 1023px) {
    .places {
        padding: 88px 24px 90px;
    }
}

@media (max-width: 767px) {
    .places {
        padding: 64px 0 66px;
    }
}