.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .lead__title {
        font-size: calc(100vw * 0.125);
        line-height: 1.1;
    }
}