.place__paragraph {
    padding: 0;
    margin: 0 0 26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media (min-width: 0px) {
    .place__paragraph {
        margin: 0 16px 26px;
    }
}

@media (min-width: 768px) {
    .place__paragraph {
        margin: 0 0 26px;
    }
}